<ngx-box-shadow [(ngModel)]="boxShadow" class="form-control" /> 
<p>{{ boxShadow }}</p>

<!-- <input type="text" ngxInputBoxShadow [(ngModel)]="boxShadow" class="form-control" />

<div class="card" [style.box-shadow]="boxShadow"></div> -->

<!-- 
<ngx-input-gradient [(ngModel)]="gradient"></ngx-input-gradient>
<p>{{ gradient }}</p>



<input ngxInputGradient [(ngModel)]="gradient" class="form-control" />
<p>{{ gradient }}</p> -->
<input type="text" [(ngModel)]="color" ngxInputColor class="form-control" />
<p>{{ color }}</p>
