<div class="container">
  <h1>NGX-Input-Color & NGX-Input-Gradient Demo</h1>

  <section>
    <h2>Input Mode (Popup)</h2>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <label>Color Input:</label>
        <div class="input-group">
          <input
            class="form-control"
            ngxInputColor
            [(ngModel)]="color"
            name="myColor"
            #c="ngModel"
            [closeTitle]="'Cancel'"
            [confirmTitle]="'Select'" />
          <span class="input-group-text">{{ color }}</span>
        </div>
        <pre *ngIf="c.invalid">{{ c.errors | json }}</pre>
      </div>
      <!-- <div class="col-sm-6 col-md-4">
        <label>Gradient Input:</label>
        <div class="input-group">
          <input
            class="form-control"
            ngxInputGradient
            [(ngModel)]="gradient"
            name="myGradient"
            #g="ngModel"
            [closeTitle]="'Cancel'"
            [confirmTitle]="'Select'" />
          <span class="input-group-text">{{ gradient }}</span>
        </div>
        <pre>{{ gradient }}</pre>
        <pre *ngIf="g.invalid">{{ g.errors | json }}</pre>
      </div> -->
    </div>
  </section>

  <!-- <section style="margin-top: 2em">
    <h2>Inline Mode (Always Visible)</h2>
    <div class="row">
      <div class="col-sm-6">
        <label>Inline Color Picker:</label>
        <ngx-input-color
          [(ngModel)]="inlineColor"
          [showCloseButton]="true"
          [showConfirmButton]="true"
          [simpleMode]="false"></ngx-input-color>
        <div>Selected: {{ inlineColor }}</div>
      </div>
      <div class="col-sm-6">
        <label>Inline Gradient Picker:</label>
        <ngx-input-gradient
          [(ngModel)]="inlineGradient"
          [showCloseButton]="true"
          [confirmTitle]="'Done'"></ngx-input-gradient>
        <div>Selected: {{ inlineGradient }}</div>
      </div>
    </div>
  </section> -->
</div>
