<!-- <saturation [(ngModel)]="s" [height]="200" [color]="'blue'"></saturation>
<pre>{{ s | json }}</pre> -->

<!-- <slider [(ngModel)]="slider" [min]="20" [max]="80"></slider> -->
<!-- <pre>
  min=20
  max=80
  slider={{ slider }}
</pre> -->
<!-- <slider
  [(ngModel)]="slider"
  [min]="0"
  [max]="100"
  [isBgTransparent]="true"
  background="linear-gradient(to right, transparent, rgb(255, 0, 98))"></slider>
<pre>
  min=0
  max=100
  slider={{ slider }}
</pre> -->

<ngx-input-gradient [(ngModel)]="resultGradient"></ngx-input-gradient>


<pre>{{ resultGradient | json }}</pre>
